*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    background-color:rgb(233, 185, 96);
    padding: 40px 20px;
    justify-content: space-between;
}
header .menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 15px;
    align-items: center;
}
header .menu ul li a{
    color:white;
    font-weight: bold;
    font-size: 16px;
}
header .menu ul a:hover{
    font-size: 20px;
    padding:10px;
    color: rgb(165, 32, 32);
    transition:.3s;
}

header img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.control{ 
    display: flex;
    flex-wrap: wrap;
    gap: 40px;  
    justify-content: center;
    align-items: center; 
    margin: 30px;   
}
.principal{   
    padding-top: 40px;
    text-align: center;    
}
.design{
    width: 150px;
    height: 220px;
    background-color: wheat;
    border-radius: 10px;
}
.principal img{
    width: 150px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}
.principal h1{
    color:  rgb(165, 32, 32);
    padding-top: 10px;
    font-size: 30px;
} 
.principal h2{
    color: rgba(165, 32, 32, 0.603);
    padding: 5px;
    padding-bottom: 10px;
    font-size: 15px;
} 
.principal button{
    color: rgb(165, 32, 32);
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 600;   
} 
.principal button:hover{
    color: red;
    background-color: black;
    transition: .3s;
}
@media(max-width:320px){
    header{
        background-color:rgb(233, 185, 96);
        padding: 20px 10px;
        justify-content: space-between;
    } 
    header .menu ul{
       display: block; 
    } 
    header .menu ul li a{
        color:white;
        font-weight: bold;
        font-size: 14px;
        text-align: justify;
        margin-right: 8px;
    }
    header .menu ul a:hover{
            font-size: 14px;
            padding: 0 5px;
            border-radius: 30px;
            background-color: white;
            color: rgb(0, 0, 0);
            transition: .3s;
    }
    header img{
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}
@media (min-width:321px) and (max-width:780px){
    header{
        display: flex;
        background-color:rgb(233, 185, 96);
        padding: 20px 10px;
        justify-content: space-between;
        align-items: center;
    } 
    header .menu ul li a{
        color:white;
        font-weight: bold;
        font-size: 14px;
        text-align: justify;
        margin-right: 10px;
    }
    header .menu ul a:hover{
        font-size: 14px;
        padding: 5px;
        border-radius: 30px;
        background-color: white;
        color: rgb(0, 0, 0);
        transition: .3s;
    }
    header img{
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }  
}
@media (min-width:781px) and (max-width:1200px){
    header{
        display: flex;
        background-color:rgb(233, 185, 96);
        padding: 20px 10px;
        justify-content: space-between;
        align-items: center;
    } 
    header .menu ul li a{
        color:white;
        font-weight: bold;
        font-size: 16px;
        text-align: justify;
        margin-right: 15px;
    }
    header .menu ul a:hover{
        font-size: 20px;
        padding: 8px;
        border-radius: 30px;
        background-color: white;
        color: rgb(0, 0, 0);
        transition: .3s;
    }
    header img{
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }  
}
